{% set attributes = attributes.addClass(['row']) %}
<article {{ attributes }}>
    <div class="columns large-12">
        <div class="block-content">
            <div class="content clearfix">
                <div class="row">
                    <aside class="columns medium-3">
                        {{ content.field_group_logo }}
                    </aside>
                    <header class="columns  medium-9">
                        <div class="inner">

                            <h2>{{ content.name }}</h2>
                            <h3>{{ "À propos du groupe" | t }}</h3>
                            {% if has_description or has_baseline %}
                                {{ content.description }}
                            {% endif %}
                            <p>{{ member }}<br />
                            {{ created }}</p>
                        </div>
                    </header>
                </div>
            </div>
        </div>

    </div>
    <div class="columns large-12">
        <h2>{% trans %}members{% endtrans %}</h2>
    </div>
    {{ content.block_members }}
    <div class="columns large-12">
        <h2>{% trans %}Group Ranking{% endtrans %}</h2>
        {{ content.block_ranking }}
    </div>
</article>