<h2>{% trans %}My groups{% endtrans %}</h2>
<ul class="group-listing">
    {% for group in groups %}
        {% if group.is_member %}
            <li>
                <section>
                    {{ group.entity }}
                    <p> {{ group.member }}</p>
                </section>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h2>{% trans %}All the groups{% endtrans %}</h2>
<ul class="group-listing">
    {% for group in groups %}
        <li>
            <section>
                {{ group.entity }}
                <p> {{ group.member }}</p>
                {% if group.is_member %}
                    <p>You are member of this group</p>
                {% else %}
                    {% if group.display_join_link %}
                        <p><a href="{{ group.join_url }}">{% trans %}Join{% endtrans %}</a></p>
                    {% endif %}
                {% endif %}
            </section>
        </li>
    {% endfor %}
</ul>