<p>{% trans %}Members {% endtrans %} : {{ group.nb_members }}</p>
<p>{% trans %}Access code {% endtrans %} : {{ group.access_code }}</p>
<p>{% trans %}Joining URL (to invite others members) {% endtrans %} : {{ group.url_join }}</p>
<p>{% trans %}Creator {% endtrans %} :
    <a href="{{ url('entity.user.canonical', {'user': group.creator.id}) }}">
        {{ group.creator.name }}
    </a>
</p>