<p><strong>{% trans %}Hello {{user.name}},{% endtrans %}</strong></p>

<p>{% trans %}You have pending bets on day : {{ day.label}}{% endtrans %}</p>

<p>{% trans %}Games list :{% endtrans %}</p>

<table width="100%" align="center">
    {% for game in day.games %}
        <tr>
                <th colspan="3">{{game.date}}</th>
        </tr>
        <tr>
                <td width="40%" align="center">
                        <img src="{{ game.team1_logo }}" height="36" alt="logo {{  game.team1 }}"/>
                        <br />{{ game.team1 }}
                </td>
                <td width="20%" align="center">vs</td>
                <td width="40%" align="center">
                        <img src="{{ game.team2_logo }}" height="36" alt="logo {{  game.team2 }}" />
                        <br />{{ game.team2 }}
                </td>
        </tr>
            <tr>
                    <th colspan="3">~</th>
            </tr>
    {% endfor %}
</table>

<p>{% trans %}Bet now :{% endtrans %}&nbsp;<a href="{{ day.bet_link}}">{{ day.bet_link}}</a></p>

<p>{% trans %}If you don't wish to receive bet reminders, please edit your profile :{% endtrans %}&nbsp;<a href="{{user.myaccount}}">{{user.myaccount}}</a></p>
