<h3>{{ day.label }}</h3>
<p>
    {% trans %} {{ day.nb_games }} games{% endtrans %}<br />
    {% trans %}Betting type : {{ league.betting_type }}{% endtrans %}
</p>
<h3>{% trans 'Points' %}</h3>
<ul>
    {% if league.betting_type_machine == 'score' %}
        <li>{% trans %}Exact score found : {{ league.points.points_score_found}}{% endtrans %}</li>
    {% endif %}
    <li>{% trans %}Winner found : {{ league.points.points_winner_found}}{% endtrans %}</li>
    <li>{% trans %}Wrong bet : {{ league.points.points_participation}}{% endtrans %}</li>
</ul>