<article class="block-content medium-6 columns">
    <div class="content">
        <section class="flex-tiny flex-left">
            <aside>
                {{ league_logo }}
            </aside>
            <header class="inner flex-column flex-grow">
                <h3>{{ day.entity.getLeague().label() }}</h3>
                <h4>{{ day.entity.label() }}</h4>
                <a class="button secondary" href="{{ path('entity.day.canonical', {'day' : day.day })}}">{{ 'See results' | t }}</a>
            </header>
        </section>
        <footer class="inner flex-tiny">
            <p class="bet-left cap"><label class="">{{ 'Games' | t }}</label><span class="em bold green">{{ nb_game }}</span></p>
            {% if logged_user %}
                <p class="points cap"><label class="">{{ 'Points' | t }}</label><span class="em bold green">{{ points }}</span></p>
                <p class="ranking cap"><label class="">{{ 'Ranking' | t }}</label><span class="bold em"><span class="green">{{ ranking }}</span>/{{ nb_betters }}</span></p>
            {% endif %}
            <p class="bet-left cap"><label class="">{{ 'Betters' | t }}</label><span class="em bold green">{{ nb_betters }}</span></p>
        </footer>
    </div>
</article>