<h2>{% trans 'Games and bets' %}</h2>
{{ last_bets }}

{% if groups|length > 0 %}
    <section class="group-ranking">
        <h2>{% trans %}Groups rankings for day{% endtrans %}</h2>
        {% for group in groups %}
            <h3>{{ group.label }}</h3>
            {{ group.group_logo }}
            <section>
                {{ group.group_ranking }}
            </section>
        {% endfor %}
    </section>

{% endif %}

{% if ranking %}
    <h2>{% trans 'Day General Ranking' %}</h2>
    <section>
        {{ ranking }}
    </section>
{% endif %}