<section class="team team1">
    {{ team_1.logo }}
</section>
<section class="game">
    <span class="game__label">{{ team_1.label }} - {{ team_2.label }}</span><br />
    <span class="game__date">{{ game.date }}</span>
</section>
<section class="team team2">
    {{ team_2.logo }}
</section>