{% if next_bets %}
    <h2>{% trans 'Next bets' %}</h2>
    {{ next_bets }}
{% endif %}

{%  if last_bets %}
    <h2>{% trans 'Last bets' %}</h2>
    {{ last_bets }}
{%  endif %}

{% if groups|length > 0 %}
    <section class="group-ranking">
        <h2>{% trans %}Groups rankings{% endtrans %}</h2>
        {% for group in groups %}
            <h3>{{ group.label }}</h3>
            {{ group.group_logo }}
            <section>
                {{ group.group_ranking }}
            </section>
        {% endfor %}
    </section>
{% endif %}

{%  if ranking %}
    <h2>{% trans 'General Ranking' %}</h2>
    {{ ranking }}
{%  endif %}
