
{% set first = data|first %}
{% set second = data|slice(1, 1) | first%}
{% set third = data|last %}

<div class="podium clearfix block-content no-padding">
    <div class="content row collapse">
        <article class="first small-12">
            <div class="row collapse" data-equalizer data-equalize-on="small">
                <aside class="column small-6" data-equalizer-watch>
                    <a href="{{ first.url }}">{{- first.better_avatar -}}</a>
                </aside>
                <div class="rank first column small-6" data-equalizer-watch><span><span>1</span></span></div>
                <footer class="inner column small-12">
                    <h5><a href="{{ first.url }}">{{ first.better_name }}</a></h5>
                    <div  class="flex">
                        <p class="bet-left cap"><label class="">{{ 'Points' | t }}</label><span class="em bold green">{{ first.points }}</span></p>
                        <p class="points cap"><label class="">{{ 'Bets' | t }}</label><span class="em bold green">{{ first.bets }}</span></p>
                        <p class="ranking cap"><label class="">{{ 'Average' | t }}</label><span class="bold em green"><span class="green">{{ first.bets }}</span></span></p>
                    </div>
                </footer>
            </div>
        </article>
        <article class="second column small-6">
            <div class="row collapse" data-equalizer data-equalize-on="small">
                <aside class="column small-6" data-equalizer-watch>
                    <a href="{{ second.url }}">{{- second.better_avatar -}}</a>
                </aside>
                <div class="rank second column small-6" data-equalizer-watch><span><span>2</span></span></div>
                <footer class="inner no-border column small-12">
                    <h5><a href="{{ second.url }}">{{ second.better_name }}</a></h5>
                </footer>
            </div>
        </article>
        <article class="third column small-6">
            <div class="row collapse" data-equalizer data-equalize-on="small">
                <aside class="column small-6" data-equalizer-watch>
                    <a href="{{ third.url }}">{{- third.better_avatar -}}</a>
                </aside>
                <div class="rank third column small-6" data-equalizer-watch><span><span>3</span></span></div>
                <footer class="inner no-border">
                    <h5><a href="{{ third.url }}">{{ third.better_name }}</a></h5>
                </footer>
            </div>
        </article>
    </div>
</div>
