<h2>Hey {{ user.name }} !</h2>
<section class="picture">
    {{ user_picture }}
</section>
<section class="infos">
    <p>{% trans %}General ranking : {{ user.rank}} / {{ user.nb_betters}}{% endtrans %}</p>
    <p>{% trans %}Points : {{user.points}}{% endtrans %}</p>
</section>
<section class="links">
    <p>{{ links.myaccount }}</p>
    <p>{{ links.editmyaccount }}</p>
    <p>{{ links.logout }}</p>
</section>