<article class="block-content medium-6 columns">
    <div class="content">
        <section class="flex-small flex-left">
            <aside>
                {{ league.logo }}
            </aside>
            <header class="inner flex-column flex-grow">
                <h3>{{ league.name }}</h3>
                <a class="button secondary" href="{{ league.url }}">{{ 'Details' | t }}</a>
            </header>
        </section>
        <footer class="inner flex-small">
            <p class="bet-left cap"><label class="">{{ 'Rank' | t }}</label><span class="em bold green">{{ ranking }}</span></p>
            <p class="bet-left cap"><label class="">{{ 'Betters' | t }}</label><span class="em bold green">{{ betters }}</span></p>
        </footer>
    </div>
</article>