<p class="center">{{ user_picture }}</p>
<p>{% trans %}General ranking : {{ user.rank}}{% endtrans %}</p>
<p>{% trans %}Points : {{user.points}}{% endtrans %}</p>
<p>{{ links.myaccount }}</p>
<p>{{ links.logout }}</p>