<h2>Hey {{ user.name }} !</h2>
<div class="clearfix">
    <section class="picture">
        {{ user_picture }}
    </section>
    <section class="infos">
        <p>{% trans %}General ranking : {{ user.rank}} / {{ user.nb_betters}}{% endtrans %}</p>
        <p>{% trans %}Points : {{user.points}}{% endtrans %}</p>
    </section>
</div>
{% if user.groups %}
    <section class="groups">
        <h3>{% trans %}My groups {% endtrans %}</h3>
        <ul>
            {% for group in user.groups %}
                <li><a href="{{ group.url }}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

<section class="links">
    <h3>{% trans %}My account{% endtrans %}</h3>
    <p>{{ links.myaccount }}</p>
    <p>{{ links.editmyaccount }}</p>
    <p>{{ links.logout }}</p>
</section>